@media only screen and (max-width: 1099px) {
	.container {
		width: 100%;
	}
	aside {
	}
	aside img {
	}
	main {
	}
	.nav-main {
	}
	.nav-main li a {
		color: black;
		padding: 3px;
	}
	.nav-main li a:hover {
		color: #FF8276;
		text-decoration: none;
	}
	a:active {
		color: #3E3A40;
	}

@media only screen and (max-width: 999px) {
	main {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	aside img {
		width: 50%;
	}
}

@media only screen and (max-width: 850px) {
	main {

	}
	.content {

	}
	.secondary {

	}
	aside {

	}
	aside img {

	}
}

@media only screen and (max-width: 650px) {
	h2 {
	 font-size: 22px;
	}
	h3 {
	 font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 14px
	}
	p {
		font-size: 14px;
	}
	.nav-main {
		width: 100%;
	}
	.nav-main li {
		display: block;
	}
	.nav-main li a:hover {
		color: white;
	}
	.nav-main li:hover {
		background: #FF8276;
	}
	.content{
		padding-top: 0;
	}
}
