/* General Styles */
html {
	position: relative; /*allow for the footer to be position absolute and know where its starting point is*/
	min-height: 100%; /*ensures we use the whole screen size for height so the footer can be shown at the bottom*/
}
body {
	background: white;
	margin: 0 0 200px; /*make sure there is a margin at the bottom so footer doesnt overlap*/
}
p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 18px;
	font-weight: 300;
}
a {
	color: #FF530D;
}
a:link {
	color: FF530D;
	text-decoration: none;
}
a:hover {
	color: #FF8276;
	text-decoration: none;

}
a:active {
	color: #FF530D;
}

img:hover {
	opacity: 0.60;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

h1 {
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom: 10px;
}

h2 {
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom: 12px;
}

h3 {
	font-size: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom: 20px;

}

h4 {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;

}

h5 {

}

h6 {

}

button {
	background: #FF530D;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 5px;
	border-radius: 2px;
	margin: 10px;
	border: none !important;
	box-shadow: none !important;
}

button:hover {
	background: #FF530D;
}
.social li{
	padding: 5px;
}

/* Header */
header {
	margin: 20px 70px;
}

.nav-main {
	width: 1000px;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.nav-main ul{
	text-align: center;
}
.nav-main li {
	display:inline-block;
	padding: 10px;
	color: #FF530D;
}
.nav-main li:first-child{
	padding-left: 0;
}

/*Setup a Container for Multi-Use*/
.container {
	width: 1000px;
	margin: 0 auto;
}

/* Secton: Content */
.content {
}

.secondary {
	clear: both;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 800px;
}

main {
	float: left;
	height: 750px;
	width: 500px;
	margin: 30px;
	padding: 30px 20px 20px 70px;
}

aside {
	float: right;
	width: 250px;
	margin:30px;
	padding: 30px 10px 20px 10px;
	text-align: center;
}

aside img {
	border-radius: 50%;
}

aside ul {
	list-style-type: none;
}
aside li {
	display: inline-block;
	font-size: 24px;
}

/* Section: Services */
.services {
}

.box {
	width: 240px;
	height: 120px;
	margin-right: 25px;
	margin-bottom: 25px;
    /* Using a float: left for these causes the containing division to have no height (it's a side effect of using float.) */
	/*float: left;*/
    /* Changing to use display: inline-block gives the containing div the proper height. */
  display: inline-block;
	background: lightgrey;
	padding: 30px;
	padding-bottom: 50px;
}

.box:last-child {
	margin-right: 0;
}

/* Footer */
footer {
	height: 200px; /*set footer height*/
	background: #303030;
	position: absolute; /*forces the footer position to be in a specific place*/
	bottom: 0; /*tells the footer to be zero pixels from the bottom of the html tag*/
	width: 100%; /*ensures the footer takes up the whole screen width wise*/
	color: white;
}
footer h3 {
	padding: 30px;
}
footer p {
	padding-left: 30px;
}

footer a {
	color: white;
}

footer a:hover {
	color: #FF530D;
	text-decoration: none;
}

footer ul {
	text-align: center;
	padding: 15px;
}

footer li {
	display:inline-block;
	font-size: 26px;
	margin: 2px;
}

footer li:hover {
	color: #FF8276;
}

.copyright {
	text-align: center;
}
