/* General Styles */
html {
	position: relative; /*allow for the footer to be position absolute and know where its starting point is*/
	min-height: 100%; /*ensures we use the whole screen size for height so the footer can be shown at the bottom*/
}
body {
	background: white;
	margin: 0 0 150px; /*make sure there is a margin at the bottom so footer doesnt overlap*/
}
p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 18px;
	font-weight: 300;
}
a {
	color: #FF4455;
}
a:link {
	color: #FF4455;
}
a:hover {
	color: #FF909B;
	text-decoration: none;
}
a:active {
	color: #FF4455;
}

img:hover {
	opacity: 0.60;
}

h1 {
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom: 10px;
}

h2 {
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom: 12px;
}

h3 {
	font-size: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom: 20px;

}

h4 {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;

}

h5 {

}

h6 {

}

button {
	background: #FF530D;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 5px;
	border-radius: 2px;
	margin: 10px;
	border: none !important;
	box-shadow: none !important;
}

button:hover {
	background: #FF530D;
}

li {
	padding-left: 30px;
	padding-bottom: 10px;
}
.social li{
	padding: 5px;
}

/* Header */
header {
	width: 100%;
}

.nav-main {
	width: 100%;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.nav-main ul{
	text-align: center;
}
.nav-main li {
	display:inline-block;
	padding: 10px;
}
.nav-main li:first-child{
	padding-left: 0;
}

/*Setup a Container for Multi-Use*/
.container-fluid {
	width: 100%;
	padding:10px 100px;
}

.feature {
	padding-bottom: 20px;
	color: #FF4455;
}

*main {
}

aside {
text-align: center;
}

aside img {
	border-radius: 50%;
}

aside ul {
	list-style-type: none;
}
aside li {
	display: inline-block;
	font-size: 20px;
}

/* Footer */
footer {
	height: 150px; /*set footer height*/
	position: absolute; /*forces the footer position to be in a specific place*/
	bottom: 0; /*tells the footer to be zero pixels from the bottom of the html tag*/
	width: 100%; /*ensures the footer takes up the whole screen width wise*/
	color: black;
}
footer h3 {
	padding: 30px;
}
footer p {
	padding-left: 30px;
}

footer a {
}

footer a:link {
}

footer a:hover {
	color: #FF909B;
	text-decoration: none;
}

footer ul {
	text-align: center;
	padding: 15px;
}

footer li {
	display:inline-block;
	font-size: 26px;
	margin: 2px;
	color: white;
}

footer li:hover {
}

.copyright {
	text-align: center;
}
